.grain {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: radial-gradient(rgb(255, 215, 0), rgba(238, 232, 170, 0.9));

    border: 1px solid rgba(250, 250, 210, 0.9);
    text-align: center;
    border: transparent;
    z-index: 10000;

}


#grappe {
    border: 1px solid black;
    width: 385px;
    height: 480px;
    position: absolute;
    top: 100px;
    z-index: 1;



}

#un {
    position: absolute;
    top: 140px;
    left: 20px;


    transition: width 2s, height 2s,

}

#deux {
    position: absolute;
    left: 103px;
    top: 147px;


}

#trois {
    position: absolute;
    left: 197px;
    top: 150px;


}

#quatre {
    position: absolute;
    left: 280px;
    top: 145px;


}

#cinq {
    position: absolute;
    left: 60px;
    top: 220px;
}

#six {
    position: absolute;
    left: 150px;
    top: 217px;
}

#sept {
    position: absolute;
    left: 245px;
    top: 225px;
}

#huit {
    position: absolute;
    left: 107px;
    top: 285px;
}

#neuf {
    position: absolute;
    left: 200px;
    top: 285px;
}

#dix {
    position: absolute;
    left: 143px;
    top: 350px;
}


#rectangle {
    width: 25px;
    height: 100px;
    background-color: rgba(70, 14, 14, 0.932);
    position: absolute;
    top: 100px;
    left: 190px;
    z-index: 1;
}

#rectangle2 {
    width: 150px;
    height: 25px;
    position: absolute;
    top: 75px;
    left: 135px;
    border-radius: -30%;

    background:
        radial-gradient(70% 10px at 50% 0, transparent, 70%, rgba(70, 14, 14, 0.932) 55%) top center;
    background-size: 100% 200%;
}

#rond1 {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border: transparent;
    left: 103px;
    top: 147px;
    z-index: 500;
    background-color: white;
}

#rond2 {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border: transparent;
    left: 197px;
    top: 150px;
    z-index: 500;
    background-color: white;
}

.grain:hover {
    border: 2px solid black;
    z-index: 40000000;
    transition-duration: 1s;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.section1 {
    display: none;
}

#un:hover .section1 {
    display: flex;
    top: 150px;
    left: 10px;
    flex-flow: column wrap;
    position: relative;
    text-align: center;
    vertical-align: 50%;
}

}

#grappe>.grain a {

    
    flex: 1 1 auto;
}

#deux:hover .section2 {
    display: flex;
    top: 150px;
    left: 10px;
    flex-flow: column wrap;
    position: relative;
    text-align: center;
    vertical-align: 50%;
}

.section2 {
    display: none;
}

#trois:hover .section3 {
    display: flex;
    top: 150px;
    left: 10px;
    flex-flow: column wrap;
    position: relative;
    text-align: center;
    vertical-align: 50%;
}

.section3 {
    display: none;
}

#quatre:hover .section4 {
    display: flex;
    top: 150px;
    left: 10px;
    flex-flow: column wrap;
    position: relative;
    text-align: center;
    vertical-align: 50%;
}

.section4 {
    display: none;
}
#huit:hover .section8 {
    display: flex;
    top: 150px;
    left: 10px;
    flex-flow: column wrap;
    position: relative;
    text-align: center;
    vertical-align: 50%;
}

.section8 {
    display: none;
}
#neuf:hover .section9 {
    display: flex;
    top: 150px;
    left: 10px;
    flex-flow: column wrap;
    position: relative;
    text-align: center;
    vertical-align: 50%;
}

.section9 {
    display: none;
}
#dix:hover .section10 {
    display: flex;
    top: 150px;
    left: 10px;
    flex-flow: column wrap;
    position: relative;
    text-align: center;
    vertical-align: 50%;
}

.section10 {
    display: none;
}